<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Acidus" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <% include templates/head.ejs %>
    <!-- END HEAD -->
    <!-- BODY -->
    <body>
        <!--========== HEADER ==========-->
        <% include templates/header.ejs %>
        <!--========== END HEADER ==========-->
        <!--========== PAGE LAYOUT ==========-->
        <!-- Work -->
        <% include templates/index_ThreeImgs.ejs %>
        <!-- End Work -->

        <!-- Features -->
        <% include templates/Features.ejs %>
        <!-- End Features -->

        <!-- Clients -->
        <% include templates/clients.ejs %>
        <!-- End Clients -->

        <!-- Work -->
        <% include templates/work.ejs %>
        <!-- End Work -->

        <!-- Testimonials -->
        <% include templates/customerViews.ejs %>
        <!-- End Testimonials -->

        <!-- Team -->
        <% include templates/team.ejs %>
        <!-- End Team -->
        <!--========== END PAGE LAYOUT ==========-->
        <!--========== FOOTER ==========-->
        <% include templates/footer.ejs %>
        <!--========== END FOOTER ==========-->
        <% include templates/scripts.ejs %>
        <!-- Back To Top -->
    </body>
    <!-- END BODY -->
</html>
