
<script src="javascripts/logic/webPageStatics.js"></script>
<div class="content-md container">
    <div class="row margin-b-40">
        <div class="col-sm-6">
            <h2 id='client_title'>Our Clients</h2>
            <p id='client_content'>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
        </div>
    </div>
    <!--// end row -->

    <!-- Swiper Clients -->
    <div class="swiper-slider swiper-clients">
        <!-- Swiper Wrapper -->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/01.png" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/02.png" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/03.png" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/04.png" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/05.png" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="images/clients/06.png" alt="Clients Logo">
            </div>
        </div>
        <!-- End Swiper Wrapper -->
    </div>
    <!-- End Swiper Clients -->
</div>
