<header class="header">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="navbar-logo">
                  <h2>
                    <a class="navbar-logo-wrap" href="/">
                        <!--<img class="navbar-logo-img" src="images/logo.png" alt="Acidus Logo"> -->
                        <a class="" href="/">RinlinkTech</a>
                    </a>
                    </h2>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="navbar-nav navbar-nav-right">
                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-item-child active" href="/">
                                首页
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- About -->
                        <li class="nav-item">
                            <a class="nav-item-child" href="/about">
                                产品概览
                            </a>
                        </li>
                        <!-- End About -->

                        <!-- Work -->
                        <li class="nav-item">
                            <a class="nav-item-child" href="/work">
                                技术优势
                            </a>
                        </li>
                        <!-- End Work -->

                        <!-- Contact -->
                        <li class="nav-item">
                            <a class="nav-item-child" href="/contact">
                                关于我们
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-item-child" href="/contact">
                                新闻资讯
                            </a>
                        </li>

                        <!-- End Contact -->
                        <!-- Contact -->
                        <li class="nav-item">
                            <a class="nav-item-child" href="/login">
                                <%= title %>
                            </a>
                        </li>
                        <!-- End Contact -->
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
